<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.safeandsounddb1ConnectionString"
            connectionString="server=safeandsounddb1.db.8854909.hostedresource.com;user id=safeandsounddb1;password=Tabernacle1!;database=safeandsounddb1;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>